*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: MyFont;
    background-color: rgb(0, 0, 0);
    color:#E0E0E0;
    
}


@font-face {
  font-family: 'MyFont';
  src: url('./fonts/metropolis.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#spotlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;

  mask-image: radial-gradient(circle at 25vw 50vh, transparent 200px, rgba(0, 0, 0, 1) 210px);
}




:root{
    --dbug: 2px solid black;
}

body{
    display: flex;
    position: relative;
}



.registeration {
  z-index: 3;
  position: relative;
}





.header-container{
   
    max-height: 22vh;
    width: 50vw;
    z-index: 2;
    background: linear-gradient(to bottom, rgb(0, 56, 45) 0%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
    text-align: center;
}

.header-container h1{
    background: transparent;
    margin:2vw;
    color: #e0dfdc;
    margin-bottom:4vw;
    padding-bottom:2vw;
background-color: rgb(70, 70, 70);
letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.right{
    display: flex;
    width: 50vw;;
    flex-direction: column;
    justify-content: space-between;
}

.footer{
    height: 30vh;
    z-index: 2;
    justify-content: flex-end;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(0, 48, 26) 100%);
}

.img-container{
   position: relative;
    height: 100vh;
    min-width: 50vw;
    border-right:3px solid rgb(41, 41, 41);
    z-index: 2;
    background: url("./logo/bg.jpg");
    background-size: cover;
    align-content: center;
}

.img-container span{
    width:100%;
    background-color: transparent;
    font-family: "norse bold";
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    backdrop-filter: blur(0.3em);
    font-size: 1.4em;
}

.img-container span img{
    max-height: auto;
    max-width: 10vw;
    background-color: transparent;
}




.form-container.register{
    position:absolute;
    height: 40vh;
    top:30vh;
    z-index: 0;
    display:block
}


.form-container.login{
    position:absolute;
    height: 40vh;
    top:30vh;
    display: block;
}


.form-container.login.inactive{
    display:none;
}

.form-container.register.inactive{
    display:none;
}






.text1,.text2{
    font-size: min(2rem,3vh);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top:-5vh;
}










.registeration{
    
    display:flex;
    flex-wrap:wrap;
    width:100%;
    height: 37vh;
        justify-content: center;
    position: relative;
    overflow:hidden;
    
}

.registeration>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:.3vw;
    flex:1;

    min-width: 40%;
    margin-left:4.5vw;
}

.registeration::before{
    content:"";
    height: 100%;
    width: 50vw;
    background: url("./logo/doors.jpg");
background-size: contain;
background-repeat:repeat-x;
background-position: center;

    position: absolute;
    transition: transform 0.6s ease;

}



.registeration:hover::before{
    transform: translateX(-50vw);
     transition: transform 0.6s ease;
}


.registeration>div>input{


     border-color: #CCCCCC;
     color: white;
     border-style: solid;
     border-radius: 0px;
     transition: all 0.4s ease-in-out;
}

.registeration>div>input:hover{
     box-shadow: 10px 0px 10px rgb(255, 255, 255);
}

.registeration>div>input:focus{

   box-shadow: -10px 0px 10px rgb(0, 208, 255);
}


.registeration>div>input:valid{

    box-shadow: 10px 0px 10px rgb(0, 255, 149);
}


.footer{
    font-size: min(3vw,2rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

@keyframes wee {
    0%{
        transform:translateX(0);
    }
    50%{
        transform:translateY(-200%);
    }
    100%{
        right:200%;
    }
}

.footer .contain{
    content:"";    
    background: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExeXJkM2MyaDY1cWNxOHUzb2R2ZnRpempyaHVpazJvbjczd2h4YmdoMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/i229PTC8BKt9V9RnwZ/giphy.gif");
    background-size: contain;
    height: 10vh;
        animation:wee 20s infinite ;
        overflow:hidden;
        z-index:-2;
}



.registeration>div>div{
    
    width: 55%;
    text-align: left;
    font-size: 1.2rem;

}

.registeration>div>div>label{
    color: #FFFFFF;
background: transparent;
}



.registeration>div>input{

    width: 45%;
    height: 2.5vh;
}

.form-container.login .registeration{
    width: 50vw;
    flex-direction: column;
    
}

.form-container.login .registeration>div{

    align-items: center;
}
.form-container.login .registeration>div>div{
    text-align: center;
     margin-left:-4vw;
}
.form-container.login .registeration>div>input{
     margin-left:-4vw;
}


div.logos {
    display: flex;
    flex-direction: row;
    gap:1.5em;
    margin-top: -3vw;
    align-content: flex-start;
    background:transparent;
    margin-left:-0.5vw;
}

div.logos>svg{

background-color: white;

}

.form-container.login .registeration>div.btn{
    justify-content: space-evenly;
    font-size: 0.8em;
    margin-left: -1px;
}

.submition{

    max-width: 5rem;
    width: 20%;
}


.form-container.login .register:hover{
    color:white;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.form-container.register .login:hover{
    color:white;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    border:2px solid greenyellow;
}


.form-container.register .login{
    transition:all 2s ease-in-out;
    min-width: 6vw;
    min-height: 2vw;
    border-radius: 40%;
}

.form-container.login .register{
    transition:all 2s ease-in-out;
    min-width: 6vw;
    min-height: 2vw;
    border-radius: 40%;
}


.registeration .btn>button{
    transition:all 2s ease-in-out;
    min-width: 6vw;
    min-height: 2vw;
    border-radius: 40%;
}

.registeration .btn>button:hover{
    color:white;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    border:2px solid greenyellow;
}
